In [107]:
# @title
import pandas as pd
import numpy as np

In [86]:
df=pd.read_excel('top_500_manga  .xlsx')

In [87]:
df.head()

,Rank,Title,Type,Score,Year_release,Members
0,1,Berserk,Manga,9.47,1989,"729,426 members"
1,2,JoJo no Kimyou na Bouken Part 7: Steel Ball Run,Manga,9.32,2004,"282,501 members"
2,3,Vagabond,Manga,9.26,1998,"409,202 members"
3,4,One Piece,Manga,9.22,1997,"645,598 members"
4,5,Monster,Manga,9.16,1994,"260,280 members"

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          500 non-null    int64
 1   Title         500 non-null    object
 2   Type          500 non-null    object
 3   Score         500 non-null    float64
 4   Year_release  500 non-null    object
 5   Members       500 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 23.6+ KB

In [89]:
df.isnull().any()

Rank            False
Title           False
Type            False
Score           False
Year_release    False
Members         False
dtype: bool

In [90]:
mv=df.isnull().sum()
mv[mv>0]

Series([], dtype: int64)

In [91]:
df.isnull().sum().sum()

0

In [92]:
df['Year_release'].unique()

array(['1989', '2004', '1998', '1997', '1994', '1990', '2005', '2021',
       '2001', '2014', '2022', '2020', '2006', '2007', '2012', '1999',
       '1968', '2016', '2003', '2015', '2010', '2013', '1996', '2019',
       '2009', '2017', '1982', '2000', '2011', '2018', '2002', '1970',
       '1985', '1992', '2008', '1966', 'One', '1988', '1969', '1984',
       '1976', '1993', '2023', '1972', '1991', '1973', '1981', '1980',
       '1995', 'ols)'], dtype=object)

In [93]:
df['Year_release']=np.where(df['Year_release']=="One","0", np.where(df['Year_release']== "ols)" , "0", df['Year_release']) )

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          500 non-null    int64
 1   Title         500 non-null    object
 2   Type          500 non-null    object
 3   Score         500 non-null    float64
 4   Year_release  500 non-null    object
 5   Members       500 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 23.6+ KB

In [95]:
df['Year_release'].unique()

array(['1989', '2004', '1998', '1997', '1994', '1990', '2005', '2021',
       '2001', '2014', '2022', '2020', '2006', '2007', '2012', '1999',
       '1968', '2016', '2003', '2015', '2010', '2013', '1996', '2019',
       '2009', '2017', '1982', '2000', '2011', '2018', '2002', '1970',
       '1985', '1992', '2008', '1966', '0', '1988', '1969', '1984',
       '1976', '1993', '2023', '1972', '1991', '1973', '1981', '1980',
       '1995'], dtype=object)

In [96]:
df['Year_release'] = pd.to_datetime(df['Year_release'], format='%Y', errors='coerce').dt.year

In [97]:
df['Year_release'].unique()

array([1989., 2004., 1998., 1997., 1994., 1990., 2005., 2021., 2001.,
       2014., 2022., 2020., 2006., 2007., 2012., 1999., 1968., 2016.,
       2003., 2015., 2010., 2013., 1996., 2019., 2009., 2017., 1982.,
       2000., 2011., 2018., 2002., 1970., 1985., 1992., 2008., 1966.,
         nan, 1988., 1969., 1984., 1976., 1993., 2023., 1972., 1991.,
       1973., 1981., 1980., 1995.])

In [98]:
df['Type'].unique()

array(['Manga', 'Novel', 'Light', 'Manhua', 'Manhwa', 'One-shot'],
      dtype=object)

In [99]:
df['Type'] = np.where(df['Type'] == "Light", "Light Novel", df['Type'])

In [100]:
df['Type'].unique()

array(['Manga', 'Novel', 'Light Novel', 'Manhua', 'Manhwa', 'One-shot'],
      dtype=object)

In [101]:
np.where(df['Type']=="Novel","Light Novel",df['Type'])

array(['Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Light Novel', 'Manga', 'Manga', 'Light Novel', 'Light Novel',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Light Novel', 'Light Novel', 'Manga', 'Manga', 'Light Novel',
       'Manga', 'Light Novel', 'Manga', 'Manga', 'Manga', 'Manhua',
       'Manga', 'Light Novel', 'Manga', 'Light Novel', 'Light Novel',
       'Manga', 'Light Novel', 'Light Novel', 'Manga', 'Manga', 'Manga',
       'Light Novel', 'Light Novel', 'Manga', 'Manhwa', 'Manga',
       'Light Novel', 'Manga', 'Manga', 'Manga', 'Manga', 'Light Novel',
       'Manga', 'Light Novel', 'Manga', 'Manga', 'Light Novel', 'Manga',
       'Manga', 'Manga', 'Manhwa', 'Light Novel', 'Manga', 'Manhwa',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manhwa', 'Manga',
       'Light Novel', 'Manga', 'Manga', 'Manga', 'Manga', 'Light Novel',
       'Light Novel', 'Manga', 'Manga', 'Manhwa', 'Manga', 'Manhua',
       'Manga', 'Manga', 'Light Novel', 'Light Novel', 'Manga', 'Manga',
       'Light Novel', 'Manga', 'Manga', 'Manga', 'Light Novel',
       'Light Novel', 'Light Novel', 'Light Novel', 'Manga', 'Manhua',
       'Manga', 'Manga', 'Manga', 'Manhwa', 'Manga', 'Manga', 'Manhwa',
       'Manhwa', 'Manga', 'Light Novel', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Light Novel', 'Manga', 'Manga', 'Manga',
       'Manhua', 'Light Novel', 'Manga', 'Light Novel', 'Manga', 'Manga',
       'Manga', 'Light Novel', 'Manga', 'Manhwa', 'Manga', 'Manhwa',
       'Manga', 'Light Novel', 'Light Novel', 'Manga', 'Light Novel',
       'Manga', 'Light Novel', 'Manga', 'Light Novel', 'Manga',
       'Light Novel', 'Manga', 'Manga', 'Manga', 'Manhwa', 'Manga',
       'Manga', 'Light Novel', 'Manga', 'Manga', 'One-shot', 'Manga',
       'Manhwa', 'Manhwa', 'Manga', 'Light Novel', 'Manga', 'Manhwa',
       'Manga', 'Manhua', 'Light Novel', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manhwa', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Light Novel', 'Manga', 'Manga', 'Manga',
       'Light Novel', 'Manhua', 'Manga', 'Manga', 'Manhwa', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manhwa', 'Manga', 'Manga',
       'Manga', 'Light Novel', 'Manga', 'Light Novel', 'Light Novel',
       'Light Novel', 'Light Novel', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Light Novel', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Light Novel', 'Light Novel', 'Manga',
       'Manga', 'Manga', 'Manhwa', 'Manga', 'Manhwa', 'Manga', 'Manga',
       'Manga', 'Manga', 'Light Novel', 'Manhua', 'Light Novel', 'Manga',
       'One-shot', 'Manga', 'Manga', 'Light Novel', 'Manga',
       'Light Novel', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manhwa', 'Manhwa', 'Manga', 'Light Novel', 'Manhwa',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Light Novel', 'Light Novel', 'Manhwa',
       'Manga', 'Light Novel', 'Manhwa', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Light Novel', 'Manga', 'Manga', 'Manga',
       'Light Novel', 'Manga', 'Manga', 'Manhwa', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Light Novel', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Light Novel', 'Light Novel', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Light Novel', 'Manga', 'Manga',
       'Manga', 'Manga', 'Light Novel', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manhwa',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manhwa', 'Light Novel', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manhwa', 'Manhwa', 'Manga',
       'Manga', 'Light Novel', 'Manhua', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manhua', 'Manga', 'Manga', 'Manhwa', 'Light Novel', 'Light Novel',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Light Novel', 'Manga', 'Manga',
       'Manga', 'Manga', 'Light Novel', 'Light Novel', 'Manga', 'Manga',
       'Light Novel', 'Manga', 'Manhwa', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manhwa', 'Light Novel', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manhwa', 'Manhwa', 'Manga', 'Light Novel', 'Light Novel',
       'Manga', 'Manga', 'Manhwa', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manhua', 'Light Novel', 'Manga', 'Manga', 'Manga',
       'Light Novel', 'Manga', 'Manga', 'Manhwa', 'Manhwa', 'Light Novel',
       'Manga', 'Light Novel', 'Manga', 'Manga', 'Manga', 'Light Novel',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manhua', 'Manga',
       'Manhwa', 'Manhwa', 'Light Novel', 'Manga', 'Manhwa',
       'Light Novel', 'Manga', 'Manga', 'Manhwa', 'Manhwa', 'Manga',
       'Manga', 'Light Novel', 'Manga', 'Manhwa', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manga', 'Manga', 'Light Novel',
       'Light Novel', 'Manga', 'Manga', 'Manga', 'Light Novel', 'Manga',
       'Manga', 'Manga', 'Manga', 'Manga'], dtype=object)

In [102]:
df['Type'].unique()

array(['Manga', 'Novel', 'Light Novel', 'Manhua', 'Manhwa', 'One-shot'],
      dtype=object)

In [103]:
df['Members'].unique()

array(['729,426 members', '282,501 members', '409,202 members',
       '645,598 members', '260,280 members', '180,651 members',
       '321,912 members', '13,581 members', '302,818 members',
       '183,431 members', '18,228 members', '6,212 members',
       '180,557 members', '470,780 members', '145,118 members',
       '95,259 members', '278,184 members', '55,980 members',
       '60,959 members', '8,653 members', '162,248 members',
       '280,721 members', '23,982 members', '18,527 members',
       '33,535 members', '175,985 members', '70,952 members',
       '226,275 members', '13,847 members', '276,243 members',
       '19,565 members', '140,035 members', '66,081 members',
       '43,256 members', '136,954 members', '90,930 members',
       '89,462 members', '61,130 members', '151,883 members',
       '120,646 members', '73,252 members', '38,574 members',
       '83,652 members', '34,565 members', '173,004 members',
       '16,622 members', '286,435 members', '36,981 members',
       '91,748 members', '89,321 members', '72,331 members',
       '168,442 members', '13,458 members', '14,272 members',
       '498,921 members', '4,499 members', '74,883 members',
       '87,728 members', '651,552 members', '97,864 members',
       '104,870 members', '45,984 members', '5,218 members',
       '406,963 members', '83,273 members', '184,657 members',
       '45,854 members', '137,365 members', '534,757 members',
       '16,604 members', '8,793 members', '77,835 members',
       '110,791 members', '132,763 members', '101,252 members',
       '28,606 members', '24,779 members', '97,769 members',
       '48,699 members', '57,024 members', '14,238 members',
       '14,976 members', '165,949 members', '98,080 members',
       '64,789 members', '15,954 members', '39,966 members',
       '127,140 members', '10,465 members', '70,419 members',
       '130,738 members', '120,688 members', '5,489 members',
       '18,931 members', '55,317 members', '27,812 members',
       '59,834 members', '10,974 members', '42,532 members',
       '19,514 members', '29,377 members', '129,512 members',
       '82,132 members', '33,626 members', '13,484 members',
       '6,477 members', '9,515 members', '20,065 members',
       '43,105 members', '117,590 members', '106,510 members',
       '48,810 members', '180,396 members', '74,660 members',
       '54,064 members', '17,624 members', '118,507 members',
       '668,257 members', '93,094 members', '23,518 members',
       '17,447 members', '100,277 members', '91,691 members',
       '35,821 members', '17,452 members', '6,847 members',
       '145,788 members', '38,902 members', '22,564 members',
       '73,461 members', '37,778 members', '8,060 members',
       '13,446 members', '39,582 members', '16,234 members',
       '29,420 members', '522,641 members', '26,527 members',
       '4,021 members', '15,872 members', '13,811 members',
       '27,961 members', '6,912 members', '16,513 members',
       '20,438 members', '130,669 members', '28,381 members',
       '117,905 members', '65,254 members', '31,276 members',
       '5,964 members', '313,896 members', '39,669 members',
       '7,519 members', '52,957 members', '95,331 members',
       '18,978 members', '46,008 members', '44,797 members',
       '25,343 members', '23,233 members', '41,211 members',
       '38,105 members', '141,012 members', '186,941 members',
       '29,406 members', '20,916 members', '46,655 members',
       '48,604 members', '157,513 members', '22,186 members',
       '55,557 members', '68,753 members', '64,198 members',
       '56,159 members', '8,731 members', '78,897 members',
       '111,516 members', '42,883 members', '17,535 members',
       '22,096 members', '37,856 members', '37,869 members',
       '24,804 members', '30,440 members', '15,713 members',
       '90,310 members', '7,684 members', '21,146 members',
       '168,800 members', '10,638 members', '13,929 members',
       '82,385 members', '8,684 members', '169,174 members',
       '99,279 members', '12,451 members', '9,852 members',
       '43,027 members', '11,794 members', '61,184 members',
       '9,274 members', '3,566 members', '21,514 members',
       '85,218 members', '163,137 members', '343,721 members',
       '20,369 members', '50,650 members', '19,319 members',
       '24,684 members', '31,446 members', '19,959 members',
       '28,275 members', '25,342 members', '142,759 members',
       '11,253 members', '6,971 members', '107,201 members',
       '29,801 members', '92,158 members', '33,853 members',
       '11,685 members', '145,333 members', '86,245 members',
       '167,597 members', '40,811 members', '34,270 members',
       '31,473 members', '64,902 members', '21,807 members',
       '85,225 members', '61,982 members', '23,248 members',
       '81,615 members', '12,947 members', '6,774 members',
       '28,077 members', '86,072 members', '65,864 members',
       '105,844 members', '33,680 members', '178,205 members',
       '136,427 members', '94,760 members', '198,428 members',
       '43,803 members', '6,017 members', '8,647 members',
       '188,657 members', '90,136 members', '55,871 members',
       '16,529 members', '19,283 members', '34,072 members',
       '148,666 members', '19,371 members', '140,042 members',
       '41,140 members', '1,540 members', '10,221 members',
       '8,895 members', '7,404 members', '8,061 members', '2,926 members',
       '16,568 members', '12,414 members', '6,452 members',
       '5,025 members', '62,177 members', '8,123 members',
       '7,303 members', '43,083 members', '93,932 members',
       '12,430 members', '16,239 members', '43,355 members',
       '15,876 members', '3,768 members', '65,559 members',
       '43,628 members', '12,596 members', '27,006 members',
       '27,614 members', '31,279 members', '5,994 members',
       '81,766 members', '29,181 members', '4,708 members',
       '10,822 members', '25,509 members', '22,701 members',
       '3,472 members', '5,689 members', '14,841 members',
       '36,421 members', '35,582 members', '14,243 members',
       '23,793 members', '59,792 members', '124,638 members',
       '36,525 members', '40,938 members', '3,656 members',
       '60,367 members', '14,788 members', '6,341 members',
       '2,811 members', '34,522 members', '11,209 members',
       '297,147 members', '8,381 members', '81,700 members',
       '23,253 members', '55,357 members', '162,433 members',
       '56,765 members', '15,333 members', '9,744 members',
       '162,165 members', '21,999 members', '456,290 members',
       '23,675 members', '70,358 members', '6,561 members',
       '106,049 members', '28,319 members', '162,880 members',
       '24,985 members', '99,438 members', '208,864 members',
       '18,844 members', '58,225 members', '61,008 members',
       '16,294 members', '15,900 members', '8,003 members',
       '44,708 members', '11,749 members', '25,259 members',
       '37,049 members', '30,698 members', '16,441 members',
       '12,880 members', '119,184 members', '60,866 members',
       '7,221 members', '26,516 members', '82,606 members',
       '8,049 members', '15,475 members', '154,365 members',
       '77,495 members', '7,350 members', '3,917 members',
       '40,745 members', '13,470 members', '43,735 members',
       '160,150 members', '22,772 members', '10,931 members',
       '24,687 members', '10,952 members', '117,378 members',
       '29,857 members', '194,114 members', '7,429 members',
       '55,766 members', '6,322 members', '30,813 members',
       '57,717 members', '207,407 members', '16,192 members',
       '62,602 members', '15,240 members', '25,661 members',
       '21,881 members', '49,768 members', '13,731 members',
       '52,184 members', '170,453 members', '12,612 members',
       '30,324 members', '22,960 members', '114,601 members',
       '17,078 members', '34,368 members', '22,892 members',
       '24,700 members', '5,963 members', '71,819 members',
       '24,470 members', '16,453 members', '11,483 members',
       '35,449 members', '34,446 members', '25,110 members',
       '4,547 members', '3,065 members', '3,792 members',
       '26,100 members', '4,634 members', '4,503 members',
       '5,686 members', '18,709 members', '9,577 members',
       '29,992 members', '59,738 members', '53,541 members',
       '16,468 members', '3,492 members', '7,351 members',
       '76,755 members', '41,789 members', '30,332 members',
       '63,509 members', '24,640 members', '8,526 members',
       '123,870 members', '27,726 members', '12,639 members',
       '46,562 members', '7,843 members', '11,857 members',
       '6,733 members', '12,302 members', '11,880 members',
       '19,156 members', '5,530 members', '6,749 members',
       '4,790 members', '79,613 members', '56,841 members',
       '20,195 members', '8,506 members', '14,853 members',
       '28,099 members', '48,339 members', '167,482 members',
       '95,340 members', '19,619 members', '197,915 members',
       '9,683 members', '8,933 members', '39,988 members',
       '12,303 members', '26,038 members', '14,750 members',
       '62,838 members', '14,458 members', '94,890 members',
       '15,320 members', '14,142 members', '73,653 members',
       '11,859 members', '4,523 members', '114,624 members',
       '22,531 members', '10,433 members', '12,577 members',
       '2,767 members', '2,124 members', '45,599 members',
       '24,767 members', '18,245 members', '8,080 members',
       '98,076 members', '9,804 members', '27,041 members',
       '1,679 members', '2,484 members', '35,212 members',
       '102,111 members', '19,573 members', '13,294 members',
       '7,673 members', '237,203 members', '42,638 members',
       '12,906 members', '9,974 members', '5,478 members',
       '86,960 members', '6,933 members', '55,925 members',
       '125,512 members', '53,535 members', '13,277 members',
       '13,344 members', '30,654 members', '14,703 members',
       '10,815 members', '3,465 members', '5,809 members',
       '4,578 members', '43,422 members', '36,409 members',
       '31,990 members', '19,658 members', '44,879 members'], dtype=object)

In [104]:
df['Title'].unique()

array(['Berserk', 'JoJo no Kimyou na Bouken Part 7: Steel Ball Run',
       'Vagabond', 'One Piece', 'Monster', 'Slam Dunk', 'Vinland Saga',
       'Tian Guan Cifu', 'Fullmetal Alchemist', 'Grand Blue',
       "Omniscient Reader's Viewpoint", 'Guimi Zhi Zhu', 'Kingdom',
       'Oyasumi Punpun', 'Houseki no Kuni', 'Real', '20th Century Boys',
       'Ashita no Joe', 'Monogatari Series: First Season',
       'Mo Dao Zu Shi', 'Yotsuba to!',
       'Kaguya-sama wa Kokurasetai: Tensai-tachi no Renai Zunousen',
       'Monogatari Series: Second Season',
       'Umineko no Naku Koro ni Chiru - Episode 8: Twilight of the Golden Witch',
       'Mikkakan no Koufuku', 'GTO', '3-gatsu no Lion', 'Haikyuu!!',
       'Koe no Katachi', 'Monogatari Series: Final Season',
       'Akatsuki no Yona', 'Ookami to Koushinryou', '86',
       'Sousou no Frieren', 'Mushoku Tensei: Isekai Ittara Honki Dasu',
       'Youkoso Jitsuryoku Shijou Shugi no Kyoushitsu e',
       'Kaze no Tani no Nausica', 'Nana', 'Kokou no Hito',
       'Re:Zero kara Hajimeru Isekai Seikatsu',
       'Youkoso Jitsuryoku Shijou Shugi no Kyoushitsu e: 2-nensei-hen',
       'Kaoru Hana wa Rin to Saku', 'The Greatest Estate Developer',
       'Jumyou wo Kaitotte Moratta. Ichinen ni Tsuki, Ichimanen de.',
       'Honzuki no Gekokujou: Shisho ni Naru Tame ni wa Shudan wo Erandeiraremasen',
       'Hunter x Hunter', 'Uchuu Kyoudai', 'Hajime no Ippo',
       'Dungeon Meshi',
       'Yahari Ore no Seishun Love Comedy wa Machigatteiru.',
       'Made in Abyss', 'Kusuriya no Hitorigoto', 'Veil', 'One Punch-Man',
       'Fata Morgana no Yakata: Anata no Genten ni Itaru Monogatari',
       'Shoujo Shuumatsu Ryokou', 'Mushishi', 'Chainsaw Man',
       'The Horizon', 'Utsuro no Hako to Zero no Maria',
       'Kono Oto Tomare!', 'No Home', 'Death Note', 'Beck', 'Dorohedoro',
       'Natsume Yuujinchou', 'Akira', 'Solo Leveling',
       'Bungou Stray Dogs: Beast', 'Kimi no Suizou wo Tabetai',
       'Yokohama Kaidashi Kikou', 'Yagate Kimi ni Naru', 'Sayonara Eri',
       'Tongari Boushi no Atelier', 'Violet Evergarden',
       'Zaregoto Series', 'Gintama', 'Kozure Ookami', 'Wind Breaker',
       'Umineko no Naku Koro ni Chiru - Episode 7: Requiem of the Golden Witch',
       'ReLIFE', 'Golden Kamuy', 'Overlord',
       'Shinyaku Toaru Majutsu no Index', 'Aria', 'Pluto',
       'Ginga Eiyuu Densetsu', 'Blue Period', 'Mob Psycho 100',
       'Mahoutsukai no Yoru', 'Koten-bu Series',
       'Kono Subarashii Sekai ni Shukufuku wo!',
       'Seishun Buta Yarou Series', 'Banana Fish', '19 Tian',
       'Skip to Loafer', 'Kimi to Tsuzuru Utakata',
       'Umarekawattemo Mata, Watashi to Kekkon shitekuremasu ka',
       'Shigatsu wa Kimi no Uso', 'Ao Ashi', 'Seasons of Blossom',
       'After School Lessons for Unripe Apples',
       'Tobaku Datenroku Kaiji: One Poker-hen',
       'Kino no Tabi: The Beautiful World', 'Usogui',
       'Shinseiki Evangelion',
       'JoJo no Kimyou na Bouken Part 4: Diamond wa Kudakenai',
       'Chihayafuru', 'Pandora Hearts', 'Otoyomegatari', 'The Fable',
       'Diamond no Ace Act II', 'Jibaku Shounen Hanako-kun',
       'Shingeki no Kyojin', 'Skip Beat!', 'Hi no Tori (1967)',
       'Kara no Kyoukai: The Garden of Sinners',
       'Rurouni Kenshin: Meiji Kenkaku Romantan',
       'Kamisama Hajimemashita', 'One Outs', 'Nan Hao Shang Feng',
       'Umineko no Naku Koro ni', 'Fruits Basket',
       'Suzumiya Haruhi Series', 'Ping Pong', 'Billy Bat',
       'Sasaki to Miyano', 'Monogatari Series: Monster Season',
       'Medalist', 'The Legend of the Northern Blade', 'Hirayasumi',
       'Eleceed', 'Tokyo Ghoul',
       'Shuumatsu Nani Shitemasu ka? Isogashii desu ka? Sukutte Moratte Ii desu ka?',
       'Umineko no Naku Koro ni Chiru',
       'Umineko no Naku Koro ni Chiru - Episode 5: End of the Golden Witch',
       'Steins;Gate', 'Kakukaku Shikajika',
       'Monogatari Series: Off Season', 'Kidou Senshi Gundam: The Origin',
       'Baccano!', 'Ouran Koukou Host Club', 'Fate/Zero',
       'Watashitachi no Shiawase na Jikan', 'Given',
       'Sakamichi no Apollon', 'Webtoon Character Na Kang Lim',
       'Spy x Family', 'Bakemonogatari',
       'Yagate Kimi ni Naru: Saeki Sayaka ni Tsuite',
       'Yubisaki to Renren', 'Bungou Stray Dogs',
       'Berserk: Shinen no Kami 2', 'The Boxer',
       'Return of the Blossoming Blade', 'Blue Giant',
       'Tensei shitara Slime Datta Ken', 'Ohayou, Ibarahime', 'Bastard',
       'Blue Lock', 'Here U Are',
       'Otonari no Tenshi-sama ni Itsunomanika Dame Ningen ni Sareteita Ken',
       'Spirit Circle', 'Chikan Otoko',
       'JoJo no Kimyou na Bouken Part 8: JoJolion', 'Cross Game',
       'Who Made Me a Princess', 'Vanitas no Karte', 'Shimanami Tasogare',
       'Hinamatsuri', 'blanc', 'Eyeshield 21', 'Kami nomi zo Shiru Sekai',
       'Kyou kara Ore wa!!', 'Rainbow: Nisha Rokubou no Shichinin',
       'Yuukoku no Moriarty', 'Kage no Jitsuryokusha ni Naritakute!',
       'Song of the Long March', 'Doraemon', 'Holyland', 'Spirit Fingers',
       'Shimeji Simulation', 'Dandadan', 'Hirano to Kagiura',
       'Umineko no Naku Koro ni Chiru - Episode 6: Dawn of the Golden Witch',
       'Gekkan Shoujo Nozaki-kun', 'Lost in the Cloud', 'Dragon Ball',
       '21st Century Boys', 'Glass no Kamen', 'Juuni Kokuki', 'Barakamon',
       'No Game No Life', 'Souyaku Toaru Majutsu no Index',
       'Tobaku Mokushiroku Kaiji', 'Mugen no Juunin', 'Kuroshitsuji',
       'Horimiya', 'Shiori Experience: Jimi na Watashi to Hen na Ojisan',
       'Kimi wa Houkago Insomnia', 'Toshokan no Daimajutsushi',
       'Youjo Senki', 'Innocent Rouge', 'Yuru Camp', 'Nodame Cantabile',
       'Basara', 'Onanie Master Kurosawa', 'Adachi to Shimamura',
       'Natsu e no Tunnel, Sayonara no Deguchi', 'Look Back',
       'Kininatteru Hito ga Otoko ja Nakatta', 'Kimi no Na wa.',
       'Villains Are Destined to Die', 'Tobaku Hakairoku Kaiji',
       'The Breaker', 'Gunnm', 'Kaichou wa Maid-sama!', 'Nichijou',
       'My Girl', 'Toaru Majutsu no Index', 'SQ: Begin W/Your Name!',
       'No.6', 'Imawa no Kuni no Alice', 'Mata, Onaji Yume wo Miteita',
       'Tomodachi Game',
       'Shousetsu Akatsuki no Yona: Onaji Tsuki no Shita de',
       'Love Bullet', 'Kumo desu ga, Nani ka?', 'xxxHOLiC',
       'Cardcaptor Sakura', 'Kiseijuu', 'SKET Dance', 'Bakuman.',
       'The Breaker: New Waves', 'Tower of God', 'Shadows House',
       'Watashi no Oshi wa Akuyaku Reijou.: Revolution', 'Daytime Star',
       'Noragami', 'Boku dake ga Inai Machi', 'Azumanga Daioh',
       'Umineko no Naku Koro ni - Episode 3: Banquet of the Golden Witch',
       'Versailles no Bara', 'Konjiki no Gash!!', 'Homunculus',
       'Kieta Hatsukoi', 'Wotaku ni Koi wa Muzukashii',
       'Ballroom e Youkoso',
       'Youkoso Jitsuryoku Shijou Shugi no Kyoushitsu e 0',
       'Fate/strange Fake', 'Her Tale of Shim Chong', 'Ikoku Nikki',
       'Shousetsu Kimi no Na wa.', 'Whale Star: The Gyeongseong Mermaid',
       'Kanata kara', 'Hadashi no Gen', 'Ten: Tenhou-doori no Kaidanji',
       'Kimi no Yoru ni Fureru', 'Mairimashita! Iruma-kun',
       "Bleach: Can't Fear Your Own World", 'Gochuumon wa Usagi desu ka?',
       'Gin no Saji', 'Mahoutsukai no Yome', 'Naruto Shinden Series',
       'Piano no Mori', 'JoJo no Kimyou na Bouken Part 9: The JoJoLands',
       'I Shall Master This Family', 'Haruka Tooki Ie', 'LovelyComplex',
       'Gakuen Alice', 'Full Metal Panic! Sigma',
       'Saikyou Densetsu Kurosawa', 'Durarara!!', 'Machida-kun no Sekai',
       'Mushishi Tokubetsu-hen: Hihamukage', 'Totsukuni no Shoujo',
       'Blue Giant Supreme', 'Mayonaka Heart Tune',
       'Ookami Kodomo no Ame to Yuki', 'Harukaze no tranger',
       'Violet Evergarden Gaiden', 'NHK ni Youkoso!',
       'Teito Seihai Kitan: Fate/type Redline', 'Mars',
       'Shin Angyo Onshi', 'Touch', 'Black Jack', 'Hoshi no Samidare',
       'Kimi ni Todoke',
       'Death Note Another Note: Los Angeles BB Renzoku Satsujin Jiken',
       'Doukyuusei', 'Daichouhen Doraemon', 'Love So Life',
       'Takemitsuzamurai', 'Re:Zero kara Hajimeru Isekai Seikatsu Ex',
       'Uma Musume Cinderella Gray', 'Saiki Kusuo no -nan',
       'Canis Series', 'Tokyo Ghoul:re',
       'Chichi to Hige-Gorilla to Watashi',
       'Tsubasa: RESERVoir CHRoNiCLE', 'Kodomo no Omocha',
       'Paradise Kiss', 'Blame!', 'Black Lagoon',
       'Umineko no Naku Koro ni - Episode 4: Alliance of the Golden Witch',
       'Shouwa Genroku Rakugo Shinjuu', 'Orange', 'Ojisama to Neko',
       'Jujutsu Kaisen', 'Bocchi the Rock!', 'Annarasumanara',
       'Sakamichi no Apollon: Bonus Track', 'Fumetsu no Anata e',
       'Koko wa Ima kara Rinri desu.', 'D.Gray-man',
       'Sora wa Akai Kawa no Hotori', 'Hellsing', 'Claymore',
       'Tokyo Crazy Paradise', 'Angel Densetsu', 'Meitantei Conan',
       'Buddha', 'Higurashi no Naku Koro ni Kai: Meakashi-hen',
       'Komatta Toki ni wa Hoshi ni Kike', 'Hana to Akuma',
       'Higurashi no Naku Koro ni Kai: Minagoroshi-hen',
       'Gakuen Babysitters', 'Hanazakari no Kimitachi e',
       'Trigun Maximum', 'Saint Seiya: The Lost Canvas - Meiou Shinwa',
       'Higurashi no Naku Koro ni Kai: Tsumihoroboshi-hen',
       'Dengeki Daisy', 'Kengan Ashura',
       'Akuyaku Reijou no Naka no Hito: Danzai sareta Tenseisha no Tame Usotsuki Heroine ni Fukushuu Itashimasu',
       'Boy Meets Maria', 'Sweet Home', 'Katanagatari', 'Yomawari Sensei',
       'Magi', 'Bungou Stray Dogs Wan!', 'Yuki no Yousei',
       'SSS-Class Revival Hunter', 'Leviathan', 'Kuragehime',
       'Ansatsu Kyoushitsu', 'Sword Art Online: Progressive',
       'Feng Shen Ji III', 'Hachimitsu to Clover', 'Saiyuuki Gaiden',
       'Liar Game',
       'Toaru Majutsu no Index Gaiden: Toaru Kagaku no Railgun',
       '"Oshi no Ko"', 'Hidamari ga Kikoeru: Limit',
       'Boku no Kokoro no Yabai Yatsu', 'Amayo no Tsuki', 'Initial D',
       'Planetes', 'JoJo no Kimyou na Bouken Part 6: Stone Ocean',
       'Kamigami no Itadaki', 'Kishuku Gakkou no Juliet', 'Koimonogatari',
       'Taishou Otome Otogibanashi', 'Sunny', 'Feng Shen Ji II',
       'Act-age', 'Jigokuraku', "King's Maker",
       'Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou ka',
       'Hai to Gensou no Grimgar', 'Beastars',
       'Kaichou wa Maid-sama!: Marriage', 'Petshop of Horrors',
       'Shonan Junai Gumi!', 'Rookies',
       'Hikari to Tomo ni...: Jiheishouji wo Kakaete',
       'Akagami no Shirayuki-hime', 'Diamond no Ace', 'Yuru Yuri',
       'Ghost Hunt', 'Boogiepop Series', 'Sanctuary', 'Cat Street',
       'GTO: Shonan 14 Days',
       'Private Opinion: Banana Fish Another Story', 'Urasekai Picnic',
       'Danshi Koukousei no Nichijou',
       'Steins;Gate: Aishin Meizu no Babel', 'Make Heroine ga Oosugiru!',
       'Sensou Kyoushitsu', 'Pick Me Up',
       'Tsuihou sareru Tabi ni Skill wo Te ni Ireta Ore ga, 100 no Isekai de 2-shuume Musou',
       'Yugami-kun ni wa Tomodachi ga Inai', 'Tsurezure Children',
       'Summertime Render', "A Stepmother's Mrchen",
       'Ren Zha Fanpai Zijiu Xitong', 'Boku ga Otto ni Deau made',
       'Ao no Hako', 'Genshiken', 'Hourou Musuko',
       "Eden: It's an Endless World!", '7 Seeds', 'Silver Diamond',
       'Solanin', 'Crows', 'Non Non Biyori', 'Hikaru ga Shinda Natsu',
       'Semantic Error', 'See You in My 19th Life', 'Tadaima, Okaeri',
       'NieR:Automata', 'Majo no Tabitabi', 'Majo to Yajuu',
       'Steins;Gate 0', 'Romance 101', 'Houkago Kitaku Biyori',
       'Dead Dead Demons Dededede Destruction',
       'Bishoujo Senshi Sailor Moon', 'Meteor Methuselah',
       'Saiyuuki Reload', 'The Ravages of Time', 'Toradora!',
       'Tasogare Otome x Amnesia', 'Aku no Hana', 'Taiyou no Ie',
       'Date A Live', 'Dr. Stone', 'Machikado Mazoku',
       'Cheese in the Trap Season 4',
       "Why Raeliana Ended Up at the Duke's Mansion", 'Gimai Seikatsu',
       'Historie', 'Rokka no Yuusha', 'Innocent', 'Bokura no Shokutaku',
       'Hirunaka no Ryuusei',
       'Mondaiji-tachi ga Isekai kara Kuru Sou desu yo?', 'xxxHOLiC: Rei',
       'YuuYuuHakusho', 'H2', 'Koori no Mamono no Monogatari',
       'JoJo no Kimyou na Bouken Part 5: Ougon no Kaze', 'The One',
       'Higurashi no Naku Koro ni Kai: Matsuribayashi-hen',
       'How to Win My Husband Over', 'Debut or Die!',
       'Mushoku Tensei: Dasoku-hen',
       'Shinai naru Boku e Satsui wo Komete', 'Your Throne',
       'Tokidoki Bosotto Russia-go de Dereru Tonari no Alya-san',
       'Fushigi Neko no Kyuu-chan', 'Yofukashi no Uta',
       'Cheese in the Trap Season 3', 'Nano Machine',
       'Mairimashita! Iruma-kun: If Episode of Mafia', 'Getter Robo Saga',
       'High School DxD', 'Last Game', "Can't See Can't Hear But Love",
       'Akagi: Yami ni Oritatta Tensai',
       'Hitsugikatsugi no Kuro.: Kaichu Tabi no Wa', 'Uzumaki',
       'Shingetsutan Tsukihime', 'Fushigi Yuugi: Genbu Kaiden',
       'Ookiku Furikabutte', 'Touhou Shinigami: Meteor Methuselah Gaiden',
       'Tonikaku Kawaii', 'Bungou Stray Dogs: Dead Apple',
       'Yamada-kun to Lv999 no Koi wo Suru', 'Sakamoto Days',
       'Shingeki no Kyojin: Kuinaki Sentaku', 'Fukigen na Mononokean',
       'Otouto no Otto', 'Mahouka Koukou no Rettousei',
       'Hajishirazu no Purple Haze: JoJo no Kimyou na Bouken yori',
       'Nukozuke!', 'Yoake no Uta', 'Tsukuritai Onna to Tabetai Onna',
       'Shin High School DxD', 'Ase to Sekken',
       'Sasayaku You ni Koi wo Utau', 'Sayonara Zetsubou Sensei',
       'Sengoku Youko', 'Sora no Otoshimono'], dtype=object)

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          500 non-null    int64
 1   Title         500 non-null    object
 2   Type          500 non-null    object
 3   Score         500 non-null    float64
 4   Year_release  497 non-null    float64
 5   Members       500 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 23.6+ KB

In [106]:
#df.to_excel('Top_Manga_Myanimelist.xlsx', index =False)